body {
    background-color: #1e1e2f; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    background-color: rgb(79, 54, 102);
    margin-top: 300px;
    width: 600px;
    height: 200px;
    border-radius: 10px;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    
    justify-content: space-between;
    border-radius: 8px;
    background-color: #44475a;
    color: #f8f8f2;
    font-size:20px;
    outline: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
}


input, label{
    color: aliceblue;
    font-size: 20px;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;

}

input[type="submit"] {
    width: 80%;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: #c792ea; 
    margin-top: 40px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 20px;
}
input[type="submit"]:hover {
    background-color: #8f5de7; 
}