body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-repeat: no-repeat;         /* não repetir a imagem */
    background-size: cover;               /* cobre toda a tela proporcionalmente */
    background-position: center center;
   
    
}

ul {
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Define o fundo verde para os materiais já visualizados */
.visto {
    background: lightgreen !important;
}