body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e2f;
    color: #f5f5f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        }


        .divbtn{
            margin: 2.0em;
        }

        .btn{
            width: 220px;
            height: 65px;
            border: solid 1px gray;
            background: none;
            font-size: 25px;
            font-weight: bold;
        }

        .bt1{
            background-color: aqua;
            color: #212146;
            border-radius: 30px;
        }

        .bt2{
            background-color: aqua;
            color: #212146;
            border-radius: 30px;
        }

        .bt3{
            background-color: aqua;
            color: #212146;
            border-radius: 30px;
        }