body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/static/img/inicio.jpg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    flex-direction: column;
    background-repeat: no-repeat;         /* não repetir a imagem */
    background-size: cover;               /* cobre toda a tela proporcionalmente */
    background-position: center center;
        }


        .divbtn{
            margin: 2.0em;
        }

        .btn{
            width: 220px;
            height: 65px;
            border: solid 1px gray;
            background: none;
            font-size: 25px;
            font-weight: bold;
        }

        .bt1{
            background-color: aqua;
            color: #212146;
            border-radius: 30px;
        }

        .bt2{
            background-color: aqua;
            color: #212146;
            border-radius: 30px;
        }

        .bt3{
            background-color: aqua;
            color: #212146;
            border-radius: 30px;
        }