body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e2f;
   
    overflow: hidden; 
}


.container {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 10;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: #fff700; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.5rem;
    color: #ffdd57;
    margin-top: 1rem;
}

.divbtn{
    
    margin-left: 400px;
    margin-top: 200px;

  
    
}

.btn{
    width: 220px;
    height: 65px;
    border: solid 1px gray;
    background: none;
    font-size: 25px;
    font-weight: bold;
    position: absolute;


}

.bt1{
    background-color: aqua;
    color: #212146;
    border-radius: 30px;
}

.bt2{
    background-color: aqua;
    color: #212146;
    border-radius: 30px;
}


