<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/admin.css">
</head>
<body>
    <form action="/bimestre" method="get">
        <div class="divbtn"><button type="submit" class="btn bt1">Inserir Bimestre</button>      
        </div>
    </form> 

    <form action="/quiz" method="get">
        <div class="divbtn"><button type="submit" class="btn bt1">Inserir quizz</button>      
        </div>
    </form> 

    <form action="/material_cadastro" method="get">
        <div class="divbtn"><button type="submit" class="btn bt1">Inserir materiais</button>      
        </div>
    </form> 

    <form action="/materiais" method="get">
        <div class="divbtn"><button type="submit" class="btn bt2">lista de materiais</button></div>
    </form> 

    <form action="/ranking" method="get">
        <div class="divbtn"><button type="submit" class="btn bt3">Ranking dos alunos</button></div>
    </form> 
</body>
</html>