<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/cadastro.css">
</head>
<body>
   <div class="container">
    <form action="/cadastro" method="post">
        <label for="">Digite seu nome:</label>
        <input type="text" value="" name="nome" required>
    
        
        <label for="">Digite seu cpf:</label>
        <input type="text" value="" name="cpf" required>
        
        <input type="submit" value="cadastrar">
   </div>
</body>
</html>