<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/conectar_aluno.css">
</head>
<body>
 <div class="container">
    <form action="/login_aluno" method="post">
               <p>Para ter acesso aos materiais faça login</p>
               <label for="">Digite seu cpf:</label>
        <input type="text" value="" name="cpf" required>
        
        <input type="submit" value="validar">
    </div>
</body>
</html>