<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/exibindo_tragetoria.css">

</head>
<body>
    <ul class="">
        <h1>Bimestre 1</h1>
        {% for material in percurso1 %}
            <li>
               
                titulo: {{ material[0] }}, 
                <a href="{{ material[1]}}" target="_blank">Acessar Material</a>

            
            </li>
        {% endfor %}
    </ul>

    <ul class="">
        <h1>Bimestre 2</h1>
        {% for material in percurso2 %}
            <li>
               
                titulo: {{ material[0] }}, 
                <a href="{{ material[1] }}" target="_blank">Acessar Material</a>

              
            </li>
        {% endfor %}
    </ul>

    <ul class="">
        <h1>Bimestre 3</h1>
        {% for material in percurso3 %}
            <li>
               
                titulo: {{ material[0] }}, 
                <a href="{{ material[1] }}" target="_blank">Acessar Material</a>

        
            </li>
        {% endfor %}
    </ul>

    <ul class="">
        <h1>Bimestre 4</h1>
        {% for material in percurso4 %}
            <li>
               
                titulo: {{ material[0] }}, 
                <a href="{{ material[1] }}" target="_blank">Acessar Material</a>

            </li>
        {% endfor %}
    </ul>

</body>
</html>

