<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #1e1e2f;  
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button{
            background-color: aqua;
            color: #212146;
            margin-top: 300px;
              
            border-radius: 10px;
            width: 200px;
            height: 50px;
        }
    </style>
</head>
<body>
    <form action="/tragetoria_material" method="get">
        <button>VER MATERIAIS PARA ESTUDO</button>
    </form>
</body>
</html>