<form action="/voltar" method="get">
    <button>Voltar</button>
</form>
<h2>Quiz do Percurso</h2>

<form method="POST" action="/respostas">
    {% for p in perguntas %}
            <p><strong>{{ loop.index }}. {{ p[2] }}</strong></p>  {# p[2] = pergunta #}

            <label><input type="radio" name="q{{ p[0] }}" value="A" required> {{ p[3] }}</label><br>
            <label><input type="radio" name="q{{ p[0] }}" value="B"> {{ p[4] }}</label><br>
            <label><input type="radio" name="q{{ p[0] }}" value="c"> {{ p[5] }}</label><br>
        </div>
    {% endfor %}

    <button type="submit">Enviar respostas</button>
</form>
