<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/ranking.css">


</head>
<body>
    <h1>Ranking dos Alunos</h1>
    <ul class="">
        {% for aluno in ranking %}
            <li>   
                Nome do Aluno: {{ aluno[0] }}, 
                total de moedas: {{ aluno[1] }}, 
            </li>
        {% endfor %}
    </ul>
</body>
</html>