<!DOCTYPE html>
<html>
<head>
    <title>Resultado do Quiz</title>
    <link rel="stylesheet" href="static/css/resultado.css">

</head>
<body>
    <form action="/voltar" method="get">
        <button>Voltar</button>
    </form>
    <h2>Resultado do Quiz</h2>
    <p>Você acertou {{ acertos }} de {{ total }} perguntas.</p>
    <hr>

    {% for r in resultados %}
        <div class="{% if r.acertou %}correta{% else %}errada{% endif %}">
            <p><strong>{{ loop.index }}. {{ r.enunciado }}</strong></p>
            <p><strong>Sua resposta:</strong> {{ r.resposta_aluno or "Não respondeu" }}</p>
            <p><strong>Resposta correta:</strong> {{ r.resposta_correta }}</p>
        </div>
        <br>
    {% endfor %}
</body>
</html>
