<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parabéns</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="static/css/voltar.css">

</head>
<body>
    <div class="container">
        <h1>🎉 Parabéns! 🎉</h1>
        <p>Você conquistou moedas!</p>
        <div class="coins"></div>
        
    </div>
    <form action="/progresso" method="get">  
        <div class="divbtn"><button type="submit" class="btn bt1">Seu progresso</button>
    </form>

    <form action="/voltar">
        <div class="divbtn"><button type="submit" class="btn bt2">Voltar</button>

    </form>
</body>
</html>
